h1 {
    color: rgb(27, 118, 124);
  }
p, li {
  color: rgb(27, 118, 124)
}
  h2 {
      color: rgb(27, 118, 124)
  }
  p, li {
      color: rgb(27, 118, 124)
  }
  .special {
    color: orange;
    font-weight: bold;
  }
