html {
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(247, 145, 196)


}
h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  text-align: center;
    color: rgb(27, 118, 124);
  }
p, li {
  color: rgb(27, 118, 124)
}
  h2 {
      color: rgb(27, 118, 124)
  }
  p, li {
     color: rgb(27, 118, 124)
  }
 
