html {
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(247, 145, 196)


}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9dea;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  text-align: center;
  color: rgb(27, 118, 124);
  }
p, li {
  color: rgb(27, 118, 124)
}
  h2 {
      color: rgb(27, 118, 124)
  }
  p, li {
     color: rgb(27, 118, 124)
  }
  